.link {
    color:rgb(185, 183, 183);
}
.link:hover{
    color:rgb(185, 183, 183);
    text-decoration: none;
}
.link:active{
    color:rgb(255, 255, 255);
}
.navbar-brand{
    color:#3788cb !important;
}
.navbar-nav {
    display:flex;
    justify-content: space-evenly;
    width: 30%;
}
